{% extends 'student/base.html' %}
{% load static %}


{% block body %}
  <div class ="container" style="padding-top:10%; background:white; display:flex;">
    <div class="card-deck row">
      {%if books %}
        {%for book in books%}
          <div class="card text-center">
            <div class="card-img-top">
              {%if book.cover %}
                <img src="{{ book.cover.url }}" alt="{{ book.title}}" style="height:200px; width:100%;">
              {%else%}
                <img src="{% static 'img/cj.png' %}" alt="{{ book.title}}">
              {%endif%}
            </div>
            <div class="card-body">
              <h5 class="card-header">{{book.title}}</h5>
              <p class="card-text">Author: {{book.author}}</p>
              <div class="card-deck flex-row">
                <div>
                  {% if book.pdf %}
                    <a href="" class="btn btn-outline-primary" target="_blank">View PDF</a>
                  {%endif%}
                </div>
                <div>
                  {% if book.pdf %}
                    <a href="" download class="btn btn-outline-success">Download PDF</a>
                  {%endif%}
                </div>
              </div>
            </div>
          </div>
        {%endfor%}
      {%endif%}
    </div>
  </div>
    <div>
      {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
  </div>
{% endblock body %}











